<h2><%= @user.username %></h2>

<% @posts.each do |post| %>
  <div class="jumbotron" style="max-width: 500px; margin: 80px auto">
      <%= image_tag post.post_image, class: 'img-responsive' %>
    <p><%= post.body %></p>
  </div>
<% end %>