<p id="notice"><%= notice %></p>

<div class="page-header">
  <h1>Posts <small>List of all posts</small></h1>
</div>

<% @posts.each do |post| %>
  <div class="jumbotron" style="max-width: 500px; margin: 80px auto">
    <h3>Posted by <%= post.user.email %></h3>
    <%= image_tag post.image, class: 'img-responsive' %>
    <p><%= post.body %></p>
  </div>
<% end %>